  body {
    background-color: ghostwhite;
    margin-left: 20%;
    margin-right: 20%;
  }
  section {
    text-align: -webkit-center;
  }
  h1,h3,p {
    width: 50%;
  }
  h1 {
    font-size: -webkit-xxx-large;
  }
  table {
    text-align: center;
  }
  td {
    width: 1px;
  }
  img {
    height: 60px;
  }
  .food_subjects img {
    height: 300px;
  }
.float-right {
  float:right;
}
.float-left {
  float: left;
}
.sources {
  width: 100%;
  float: left;
}
.center {
  text-align: center;
}
footer {
  margin-bottom: 200px;
}
