header, footer {
  background-color: gray;
  padding: 25px;
}
header {
  border-bottom: solid;
}
h1, footer a {
  color: white;
}
footer {
  border-top: solid;
}
.square, .square-border {
  background-color: orange;
  margin: 80px;
  width: 250px;
  height: 250px;
}
.square-border {
  border: blue solid 10px;
}
.square-in-square {
  height: 130px;
  width: 140px;
  float: right;
}
.square-in-square, .square-in-square-in-a-circle {
  background-color: green;
}
.square-in-square-in-a-circle {
  height: 140px;
  width: 155px;
  margin: 0 auto;
  position: relative;
  top: 55px;
}
.circle, .circle-with-border, .circle-with-a-square {
  background-color: blue;
  border-radius: 140px;
  height: 250px;
  margin: 80px;
  width: 250px;
}
.circle-with-border {
  border: solid orange 12px;
}
