body {
  color: white;
  font-family: arial;
}
.container{
  display: flex;
}
.desert {
  background-image: url(../images/desert780x477.jpg);
  text-align: center;
  height: 477px;
  width: 780px;
  z-index: 3;
}
.line {
  border-bottom: solid 3px orange;
  z-index: 2;
}
.stream {
  background-image: url(../images/stream420x240.jpg);
  height: 240px;
  width: 420px;
}
.relax {
  background-image: url(../images/relax420x237.jpg);
  height: 237px;
  width: 420px;
}
.aside {
  display: grid;
}
