body {
  color: white;
  font-family: 'Muli', arial, sans-serif;
  background-color: #333a35;
}
ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}
li {
  padding: 20px;
}
li img {
  height: 65px;
  position: absolute;
  left: 15px;
  top: 5px;
}
a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #eca419;
}
.colored {
  color: #eca419;
  font-size: 20px;
}
h2 {
  margin: 35px;
}
.container{
  display: flex;
  padding-bottom: 6px;
}
.desert, .stream, .relax {
  display: flex;
  flex-direction: column-reverse;
}
.stream, .relax {
  font-size: larger;
}
.desert {
  background-image: url(../images/desert780x477.jpg);
  text-align: center;
  height: 477px;
  width: 780px;
}
.line {
  border-bottom: solid 3px orange;
  margin: 60px;
  font-size: -webkit-xxx-large;
}
.stream {
  background-image: url(../images/stream420x240.jpg);
  height: 240px;
  width: 420px;
}
.relax {
  background-image: url(../images/relax420x237.jpg);
  height: 237px;
  width: 420px;
}
.gear-section h2 {
  text-align: center;
  color: #eca419;
  font-size: xx-large;
  margin: -6px;
  padding-top: 120px;
}
.gear-section {
  background-color:#dfd7c7;
  padding-bottom: 50px;
}
.gear {
  align-items: center;
  background-color: white;
  color: black;
  display: flex;
  margin-left: 260px;
  margin-right: 260px;
  margin-bottom: 5px;
  margin-top: 0px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.gear img {
  margin: 30px;
}
.text {
  display: flex;
  flex-flow: column;
  width: 45%;
}
.images {
  position: relative;
  top: 0;
  left: 0;
}
.candles {
  position: relative;
  top: 0;
  left: 0;
}
.badge {
  position: absolute;
  top: 160px;
  left: 90px;
  z-index: 1;
}
