.secondEx {
    border: solid 2px red;
    background: lightcoral;
}

.thirdEx {
    border: solid 2px green;
    background: lightgreen;
}

.fourthEx {
    border: solid 2px blue;
    background: lightblue;
}
.fifthEx {
    border: solid 2px purple;
    background: lavender;
}

.seventhEx {
    border: solid 2px orange;
    background: peachpuff;
}