body {
  margin: 0 auto;
  font-family: "MuseoSans";
}
header {
  background-color: rgb(35, 35, 35);
  color: white;
  display: flow-root;
  text-align: center;
  padding: 15px;
}
h1 {
  font-size: -webkit-xxx-large;
  margin: 0 auto;
}
.teh {
  color: #4682b4;
  display: flex;
  justify-content: space-evenly;
}
.teh button {
  color: #4682b4;
  font-weight: bold;
  border: none;
  background-color: white;
  margin: 5px;
}
#message {
  font-size: x-large;
  font-weight: bold;
}
.teh button:hover {
  background-color: #4682b4;
  color: white;
}
.container {
  background-color: black;
  height: auto;
  padding-bottom: 5%;
}
#colorContainer-1, #colorContainer-2 {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 15px;
}
.color {
  display: -webkit-inline-box;
	width: 30%;
	padding: 10%;
	margin: 1%;
	border-radius: 20px;
	transition: background 0.9s;
}
