body {
  background-color: aquamarine;
  font-family: sans-serif;
}
form {
  background-color: ghostwhite;
  border-radius: 5px;
  width: 70%;
  padding: 20px;
}
.formElement {
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
}
input {
  height: 25px;
  border-radius: 5px;
  border: 1.5px solid #c0c0c0;
  padding: 5px;
}
label {
  vertical-align: top;
  padding-right: 25px;
  padding-left: 90px;
}
.fle {
  width: 80%;
}
.nas {
  width: 40%;
  margin-left: 10px;
}
.address {
  width: 10%
}
.date {
  justify-content: flex-end;
}
.ds {
  width: 5%;
}
.mdy {
  margin-left: 17px;
  width: 20%;
}
.dpc {
  width: 10%;
}
textarea {
  height: 200px;
  width: 80.4%;
}
.button {
  display: flex;
  justify-content: flex-end;
}
