body {
  background-image: url(https://www.tes.com/sites/default/files/tes-resources-sports.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
.container {
  text-align: center;
  font-size: xx-large;
  color: white;
  margin-top: 17%;
}
span {
  font-size: 60px;
  font-weight: bold;
}
input, button {
  padding: 10px;
}
