body {
  font-family: Trebuchet MS, Arial, san-serif;
  font-size: large;
}
h1 {
  text-align: center;
  font-size: xx-large;
}
.pizza, .burger {
  height: auto;
  width: 30%;
  border: solid 3px #f8d302;
  margin: 10px;
}
.container {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
}
.pizza img, .burger img {
  width: 100%;
  height: auto;
}
.food, .price {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}
.food {
  width: 155px;
}
.price {
  
}
